/* $Colors: Branding */
$color-brand-1: #36aadd;
$color-brand-2: #bbd550;

/* $Colors: Complementary */
$color-dark-green: #96a82a;
$color-darker-gray: #212121;
$color-dark-gray: #4d4d4d;
$color-shuttle-gray: #7c7c7c;
$color-silver: #999999;
$color-light-silver: #c6c6c6;
$color-lighter-silver: #e6e6e6;
$color-white: #ffffff;


/* $Fonts: Family & weights */
$font-stack-1: 'Open Sans', sans-serif;


/* $Fonts: Sizes */
$font-size-base: 16px;
$font-size-title: 25px;

