@charset "UTF-8";
/* $Colors: Branding */
/* $Colors: Complementary */
/* $Fonts: Family & weights */
/* $Fonts: Sizes */
/* _Mixins */
/* Responsive */
/* _Global */
body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
  color: #7c7c7c !important;
}

/* Titles */
h1, h2, h3, h4, h5 {
  color: #36aadd;
}

a {
  text-decoration: none !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.no-padding-mobile {
  padding: 0px !important;
}

@media (max-width: 991px) {
  .no-relative-mobile {
    position: static !important;
  }
}

/* Header */
.topbar {
  background-color: #4d4d4d;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 991px) {
  .topbar {
    padding-bottom: 0px !important;
  }
  .topbar div.container {
    max-width: 100%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 0px;
  }
}

@media (max-width: 991px) {
  .topbar__brand {
    margin-right: 0px !important;
  }
}

@media (max-width: 480px) {
  .topbar__brand {
    margin-left: 25px !important;
  }
}

@media (max-width: 991px) {
  .topbar__brand img {
    width: 220px !important;
  }
}

@media (max-width: 480px) {
  .topbar__brand img {
    width: 200px !important;
  }
}

/* Navigation menu */
@media (max-width: 991px) {
  .menu {
    margin-top: 5px;
    background-color: #212121;
    padding: 20px;
  }
  .menu ul {
    border-left: 2px solid #c6c6c6;
    padding-left: 20px;
  }
}

.menu__item,
.dropdown.menu__item {
  margin: 0 2rem;
}

.menu__item a,
.dropdown.menu__item a {
  color: #e6e6e6;
}

.menu__item a:hover,
.dropdown.menu__item a:hover {
  text-decoration: underline !important;
  color: #ffffff;
}

.menu__item:last-child,
.dropdown.menu__item:last-child {
  margin-right: 0rem;
}

@media (max-width: 991px) {
  .menu__item,
  .dropdown.menu__item {
    margin: 0px;
  }
}

.dropdown.menu__submenu {
  position: static;
}

.dropdown-menu.menu__submenu--wrapper {
  background-color: #212121;
  margin-top: -1px;
  left: -1;
  border-radius: 0px;
  border: none;
  width: 100%;
}

.dropdown-menu.menu__submenu--wrapper a:hover {
  background-color: transparent !important;
  color: #36aadd;
}

@media (max-width: 991px) {
  .dropdown-menu.menu__submenu--wrapper {
    background-color: transparent;
  }
}

.menu__submenu--items {
  display: block !important;
  padding-left: 10px !important;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  /*
    justify-content: flex-start !important;
    width: 20%; */
}

.menu__submenu--items a {
  display: inline-block !important;
  width: auto !important;
  clear: none;
}

.menu__submenu--items a:first-of-type {
  padding-left: 0px;
}

/* Hamburguer */
.topbar__burguer.navbar-toggler {
  position: absolute;
  left: 10px;
  top: 8px;
  border-color: rgba(255, 255, 255, 0) !important;
  outline: 0 !important;
}

.topbar__burguer.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  zoom: .45;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 0px 0px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 0px 0 0 0px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Footer */
.footer {
  background-color: #7c7c7c;
  color: #ffffff;
  padding-top: 18px;
}

.footer__links {
  padding-left: 25px;
}

.footer__links li {
  margin-top: 2px;
  font-size: 1.4rem;
  list-style: none;
}

.footer__links li:first-child {
  margin-top: 0px;
}

.footer__links li:before {
  content: "•";
  font-size: 2.3rem;
  position: absolute;
  margin-top: -10px;
  margin-left: -25px;
  margin-right: 8px;
}

.footer__links a {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.footer__links a:hover {
  text-decoration: underline !important;
}

.footer__social p {
  margin-top: 5px;
  line-height: 1.1rem;
  font-size: 0.9rem;
}

.footer__social .footer__social--icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social .footer__social--icons a {
  width: 30px;
  height: 30px;
  margin: 0 3%;
  -webkit-transition: all .5 ease;
  transition: all .5 ease;
  border-radius: 50px;
}

.footer__social .footer__social--icons a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.footer__social .footer__social--icons .icons--normal {
  background-color: #ffffff;
  color: #7c7c7c;
  font-size: 1.2rem;
}

.footer__social .footer__social--icons .icons--special {
  color: #ffffff;
  font-size: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bottomBar {
  background-color: black;
  font-size: small;
}

/* Banners */
a.banner__arrows {
  background-color: #ffffff;
  border-radius: 50px;
  color: black;
  width: 35px !important;
  height: 35px !important;
  opacity: 1;
  font-size: 1.6rem;
  top: auto;
  bottom: 20px;
  left: 20px;
  right: auto;
}

a.banner__arrows:focus {
  color: black;
  background-color: #ffffff;
}

a.banner__arrows:hover {
  background-color: #e6e6e6;
  color: #7c7c7c;
}

a.banner__arrows:last-of-type {
  left: 60px;
}

@media (max-width: 480px) {
  a.banner__arrows {
    display: none;
  }
}

/* Forms */
form.quoteform {
  background-color: #e6e6e6;
  padding: 21px 15px 33px 15px;
  height: 100% !important;
}

form.quoteform label {
  color: #999999;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  form.quoteform label {
    display: none;
  }
}

@media (max-width: 991px) {
  form.quoteform {
    padding-bottom: 18px;
    border-top: 3px solid #36aadd;
    position: absolute;
    top: 140px;
    right: 15%;
    width: 370px;
    z-index: 5;
    height: auto !important;
  }
  form.quoteform div.form-group {
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  form.quoteform {
    padding-bottom: 18px;
    position: relative;
    top: -10px;
    right: auto;
    left: auto;
    width: 100%;
    margin-left: 6px;
  }
}

.form-group .quoteform__field {
  border-radius: 0px;
  height: 40px;
}

.quoteform__button {
  width: 100%;
  max-width: 230px;
  background-color: #bbd550 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  -webkit-box-shadow: 0px 4px 0px #96a82a;
          box-shadow: 0px 4px 0px #96a82a;
  margin-top: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.quoteform__button:hover {
  background-color: #96a82a !important;
  -webkit-box-shadow: 0px 0px 0px #96a82a;
          box-shadow: 0px 0px 0px #96a82a;
}

@media (max-width: 991px) {
  .quoteform__button {
    max-width: 100%;
  }
}

.headContent {
  padding: 36px 0px 30px 0px;
}

@media (max-width: 991px) {
  .headContent {
    margin-top: 0px;
  }
}

.headContent__title {
  font-size: 35px;
  line-height: 2.4rem;
  font-weight: 600;
}

.headContent__subtitle {
  color: #999999;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.7rem;
}

.bodyContent {
  margin-top: 12px;
  margin-bottom: 4.6rem;
}

@media (max-width: 991px) {
  .bodyContent {
    margin-top: 0px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .bodyContent .container {
    width: 100%;
    max-width: 100%;
  }
}

.bodyContent__blueBar {
  background-color: #36aadd;
  height: 69px;
  margin-top: -12px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media (max-width: 991px) {
  .bodyContent__blueBar {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */